#row{
  background-color: ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay{
  height: 30rem;
  z-index: 3;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}
.navbar-brand img{
  height: 50px;
  width: 50px;
}
#nav a{
  color: white;

}
#drop {
  background-color: rgba(0,0,0,0.2);
}
#drop a:hover{
  color: black;
}
h1{
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;

}
.zoom p{
  opacity: 0;
}
.zoom{
  overflow: hidden;

}
.zoom{
  transition: 0.75s;
}
.zoom:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px black -5px -5px 5px black;
  -webkit-box-shadow:5px 5px 5px black;

}
.zoom:hover p{
  opacity: 1;
}
#h3{
  position: relative;
}
#card4{
  background-image: url("../images/card4bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*house css*/

.background{
  background-image: url("../images/housebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.overlay1{
  height: 15rem;
  z-index: 3;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
}
#house{
  background-color: black;
}
#cori img{
  height: 40rem;
}

#pad{
  padding-top: 10%;
}
.carousel-inner{
    background-color: rgba(0,0,0,0.5);
    height: 30rem;
    z-index: 1;
}


.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
  display: inline-block;
  width: 800px;
  height: 800px;
  background-color: black;
  border-radius: 50%;
  font-size: 600px;
}

.captions{
  font-weight: bolder;
  font-size: 100%;
  background-color:rgba(0,0,0,0.3) ;
  position: absolute;
  right: 15%;
  bottom: 180px;
  left: 15%;
  z-index: 10;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  color: #fff;
  text-align: center;

}
@media only screen and(max-width: 760px)  {
  .carousel-item{
    height: 30rem;
  }
  .captions{
    font-style: x-small;
  }
#butn:hover{
  color: black;
  background-color: #04C6C6;
}
