#row{
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay{
  height: 30rem;
  z-index: 3;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}
.navbar-brand img{
  height: 50px;
  width: 50px;
}
#nav a{
  color: white;

}
#drop {
  background-color: rgba(0,0,0,0.2);
}
#drop a:hover{
  color: black;
}
h1{
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;

}
.zoom p{
  opacity: 0;
}
.zoom{
  overflow: hidden;

}
.zoom{
  transition: 0.75s;
}
.zoom:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px black -5px -5px 5px black;
  -webkit-box-shadow:5px 5px 5px black;

}
.zoom:hover p{
  opacity: 1;
}
#h3{
  position: relative;
}
