#row{
  background-color: ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-brand img{
  height: 50px;
  width: 50px;
}
#nav a{
  color: white;

}
#drop {
  background-color: rgba(0,0,0,0.2);
}
#drop a:hover{
  color: black;
}
h1{
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;

}
.zoom p{
  opacity: 0;
}
.zoom{
  overflow: hidden;

}
.zoom{
  transition: 0.75s;
}
.zoom:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px black -5px -5px 5px black;
  -webkit-box-shadow:5px 5px 5px black;

}
.zoom:hover p{
  opacity: 1;
}
#h3{
  position: relative;
}
#card4{
  background-image: url("../images/card4bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*house css*/

.background{
  background-image: url("../images/housebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#house{
  background-color: black;
}
#cori img{
  height: 30rem;

}
.carousel-inner{
    background-color: rgba(0,0,0,0.5);
    height: 30rem;
    z-index: 1;
}


.carousel-control-prev,.carousel-control-next {
  width: 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  font-size: 600px;
}

.captions{
  font-weight: bolder;
  font-size: 150%;
  background-color:rgba(0,0,0,0.3) ;

}
@media only screen and(max-width: 760px)  {
  .carousel-item{
    height: 800px;
  }
  .captions{
    font-style: x-small;
  }
  .favo{
    display: none;
  }
}
  /* Dashboard here-*/

  #dash{
    display: none;
  }
  .favourite{
    display: none;;
  }
  .house-for-sale{
    display: none;
  }
#location{
  display: none;
}

/* Login starts here*/
#login{
  float: right;
}
#box{
  display: none;
}
.box{

   top: 30%;
   right: 30%;
   width: 400px;
   padding: 40px;
   background: rgba(0,0,0,.8);
   color: #fff;
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);
   border-radius: 20px;
}
.box h3
{
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}
.box .inputBox
{
   position: relative;
}
.box .inputBox input
{
   width: 100%;
   padding: 10px 0;
   font-size:16px;
   color: #0BEAC8;
   letter-spacing: 1px;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}
.box .inputBox label
{
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size:16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;

}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box button[type="submit"]
{
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   background: #03a9f4;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
}

#logged{
  display: none;
}
#logout,.fa-user-alt{
  cursor: pointer;
  color: white;
}
#logout:hover{
  color:red;
}
.fa-user:hover{
  color:red;

}
#loginUser{
  display: none;
  height: 26.3rem;
}
/* login*/
#housesize{
  display: none;
}
